<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head::headFragment"></div>
    <title>A List of All Available Movies</title>
</head>
<body>
<div th:replace="fragments/navBar::NavBarFragment"></div>
<table class="table">
    <thead>
    <tr>
        <th scope="col">title</th>
        <th scope="col">actor</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="movie : ${searchedMovies}">
        <td><span th:text="${movie.title}">  </span></td>
        <td><span th:text="${movie.actor}">  </span></td>
    </tr>
    </tbody>
</table>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>